* {
  box-sizing: border-box;
}

:root {
  --base-text-color: #292325;
  --base-font-size: 15px;
}

html {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--base-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  font-size: var(--base-f0nt-size);
}

.page-content {
  max-width: 960px;
  width: 100%;
}
