:root {
  --header-height: 80px;
  --header-bg-color: #f58b8b;
  --footer-bg-color: #60f0a3;
  --left-column-bg-color: rgb(96, 192, 209);
  --right-column-bg-color: rgb(223, 193, 62);
  --main-column-bg-color: rgb(207, 91, 188);
  --footer-height: 120px;
}

.page-header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

.page-main {
  display: flex;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.page-footer {
  min-height: var(--footer-height);
  background-color: var(--footer-bg-color);
}

.column {
  flex-shrink: 0;
  flex-grow: 0;
}

.column-left {
  width: 200px;
  background-color: var(--left-column-bg-color);
}

.column-right {
  width: 200px;
  background-color: var(--right-column-bg-color);
}

.column-main {
  width: 710px;
  background-color: var(--main-column-bg-color);
}

@media (max-width: 960px) {
  .page-main {
    flex-wrap: wrap;
  }

  .column-right {
    width: 100%;
    background-color: var(--right-column-bg-color);
  }
}

@media (max-width: 767px) {
  .page-main {
    flex-wrap: wrap;
  }

  .column-right {
    display: none;
    background-color: var(--right-column-bg-color);
  }
}

.column-left,
.column-main {
  width: 100%;
}

:root {
  --column-width: 118.33px;
}

.grid {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

[class*="col-"] {
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  border: 1px solid red;
}

.col-1 {
  width: 118.333px;
}

.col-2 {
  width: calc(var(--column-width) * 2);
}

.col-3 {
  width: calc(var(--column-width) * 3);
}

.col-4 {
  width: calc(var(--column-width) * 4);
}

.col-5 {
  width: calc(var(--column-width) * 5);
}

.col-6 {
  width: calc(var(--column-width) * 6);
}
